<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your local package source -->
    <add key="TGF" value="BasePackages/TGF" />
	  <add key="Common" value="BasePackages/Common" />
    
    <!-- Official NuGet package source -->
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>