<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your local package source -->
    <add key="TGFPackages" value="BasePackages/TGFPackages" />
	<add key="TGFRestored" value="BasePackages/TGFRestored" />
	<add key="CommonPackages" value="BasePackages/CommonPackages" />
    <add key="CommonRestored" value="BasePackages/CommonRestored" />
    
    <!-- Official NuGet package source -->
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>